.card-md {
  width: 500px;
}

.details-img {
  object-fit: contain;
  height: 500px;
  width: 250px;
}

.wicked-header {
  color: white;
  background-color: black;
  padding: 10px 10px 5px 10px;
  margin-bottom: 10px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.icon {
  font-size: 25px
}

.logo {
  display: flex;
  flex-direction: row;
}

.cart {
  font-size: 35px;
  position: absolute;
  right: 0px;
  top: -4px;
  cursor: pointer;
}

.cart-num {
  color: black;
  font-size: 18px;
  position: absolute;
  right: 9.5px;
  top: -4px;
  font-weight: bolder;
  cursor: pointer;
}

.cart-and-count {
  position: relative;
  right: 0px;
  width: 200px;
}

.summary-img {
  object-fit: contain;
  width: 250px;
  height: 250px;
  padding: 15px;
}

.summary-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-height: 300px;
  border-radius: 5px;
  margin: 10px;
}

.summary-desc {
  padding-top: 15px;
  margin-left: 15px;
}

.back {
  color: black;
}

.back:hover {
  text-decoration: none;
  color: grey;
}
